<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="808c0824-2e5f-44b9-8664-7c2ffe2a4dec" Publisher="CN=xiaoyaocz" Version="2.0.5.0" />
  <mp:PhoneIdentity PhoneProductId="808c0824-2e5f-44b9-8664-7c2ffe2a4dec" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>BK20</DisplayName>
    <PublisherDisplayName>xiaoyaocz</PublisherDisplayName>
    <Logo>Assets\Login\NewStoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BK20.App">
      <uap:VisualElements DisplayName="嗶咔漫畫 Beta" Square150x150Logo="Assets\Login\Square150x150Logo.png" Square44x44Logo="Assets\Login\Square44x44Logo.png" Description="嗶咔漫畫 Beta" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Login\Wide310x150Logo.png" Square310x310Logo="Assets\Login\Square310x310Logo.png" Square71x71Logo="Assets\Login\Square71x71Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>